[git]
	autoCommit = true
	autoPush = true

[data]
	name = "ilyes"
	email = "hammadiilyesahmed@gmail.com"
	machineType = "{{ promptStringOnce . "machineType" "Machine type (laptop/devbox)" }}"

[data.wezterm]
	fontSize = 18
