encryption = "age"
[age]
    identity = "~/.age/key.txt"
    recipient = "age1l33x89uptx6e9scm5lp7eghfqq59vdqmj46rj0zrkvw2qscefpms7nz2rh"

[git]
	autoCommit = true
	autoPush = true

[data]
	name = "ilyes"
	email = "hammadiilyesahmed@gmail.com"
	machineType = "{{ promptStringOnce . "machineType" "Machine type (laptop/devbox)" }}"

[data.wezterm]
	fontSize = 18
