* {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
}
window#waybar {
  background: #191724;
  color: #6e6a86;
}

#workspaces button {
  color: #6e6a86;
  padding: 0 2px;
}

#workspaces button.focused {
  color: #e0def4;
}

#wireplumber {
  padding: 0 10px 0 0;
}

#network {
  padding: 0 20px 0 0;
}

#bluetooth {
  padding: 0 10px 0 0;
}

#cpu,
#clock,
#battery {
  padding: 0 5px;
}

#clock {
  padding-right: 10px;
}

#window {
  padding-left: 10px;
}
