# Font
{{ if eq .chezmoi.os "darwin" }}
font-family = "Iosevka Term"
font-size = 20
{{ else if eq .chezmoi.os "linux" }}
font-family = "Iosevka Nerd Font"
font-size = 16
{{ end }}

# Theme
theme = Rose Pine

# Cursor
cursor-style = block

# Mouse
mouse-hide-while-typing = true
mouse-scroll-multiplier = 1

# Terminal bell
bell-features = no-system,no-audio

# Window
window-padding-x = 10
window-padding-y = 10

window-decoration = none
confirm-close-surface = false


# Clipboard
clipboard-read = allow
clipboard-write = allow

# macOS
macos-titlebar-style = hidden
quit-after-last-window-closed = true
