# theme
include rose-pine.conf

# font
{{ if eq .chezmoi.os "darwin" }}
font_family      Iosevka Term
font_size 21
{{ else if eq .chezmoi.os "linux" }}
font_family      Iosevka Nerd Font
font_size 17
{{ end }}
bold_font        auto
italic_font      auto
bold_italic_font auto


# Cursor
# cursor_trail 3
# cursor_trail_decay 0.1 0.3

cursor_shape block
cursor_blink_interval 0
cursor_stop_blinking_after 0
shell_integration no-cursor

# mouse
mouse_hide_wait -1
wheel_scroll_multiplier 3.0

# scrollback
scrollback_lines 5000

# terminal bell
enable_audio_bell no

# window
window_padding_width 10

# others
text_composition_strategy legacy
hide_window_decorations yes 
confirm_os_window_close 0
clipboard_control write-clipboard write-primary read-clipboard read-primary

# macos
macos_show_window_title_in none
# macos_window_resizable no
macos_quit_when_last_window_closed yes
macos_traditional_fullscreen yes

background_opacity 0.95
