local wezterm = require 'wezterm'

return {
	color_scheme = 'rose-pine',
  font = wezterm.font_with_fallback {
    {
			family = 'YesLi',
    },
    {
			family = 'Symbols Nerd Font',
    },
  },
  font_size = {{ .wezterm.fontSize }},
  enable_tab_bar = false,
  hide_tab_bar_if_only_one_tab = true,
  force_reverse_video_cursor = true,
  window_decorations = 'RESIZE',
  adjust_window_size_when_changing_font_size = false,
  window_padding = {
    left = 30,
    right = 30,
    top = 20,
    bottom = 20,
  },
  use_dead_keys = false,
  scrollback_lines = 5000,
  automatically_reload_config = true,
  audible_bell = 'Disabled',
  window_close_confirmation = 'NeverPrompt',

	{{ if eq .chezmoi.os "darwin" -}}

  macos_window_background_blur = 30,

	{{ else if eq .chezmoi.os "linux" -}}

  enable_wayland = true,

	{{ end -}}
}
